{% extends "crud/base.html" %}
{% block title%}장난감 신규 대여{% endblock %}
{% block content %}
<h2>장난감 신규 대여</h2>
<form
    action="{{url_for('crud.create_user')}}"
    method="POST"
    novalidate="novalidate"
>
    {{form.csrf_token}}
    <p>{{form.toyname.label}}{{form.toyname(placeholder="장난감이름")}}</p>
    {% for error in form.toyname.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>{{form.age.label}}{{form.age(placeholder="연령")}}</p>
    {% for error in form.age.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>{{form.type.label}} {{form.type(placeholder="유형별")}}</p>
    {% for error in form.type.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>{{form.components.label}}{{form.components(placeholder="구성품")}}</p>
    {% for error in form.components.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>{{form.explain.label}}{{form.explain(placeholder="장난감 설명")}}</p>
    {% for error in form.explain.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <p>{{form.rental.label}}{{form.rental(placeholder="대여 여부")}}</p>
    {% for error in form.rental.errors %}
    <span style="color: red;">{{error}}</span>
     {% endfor %}
    <p>{{form.submit()}}</p>
</form>
{% endblock %}